@using Ecboard.Enums
@using Ecboard.TagHelpers
@using Ecboard.ViewComponents
@using Ecboard.ViewModels._PartialViews.Chart

    @section Alerts {
        <alert alert-type="@Enum_AlertType._default" name="Örnek Alert"></alert>
    }







<div class="row row-deck row-cards">

    <div class="col-md-6">
        @await Component.InvokeAsync(typeof(ChartViewComponent), new PieChartViewModel()
   {
       ChartId = "chart-" + EcStringHelper.RandomString(12),
       ChartType = "pie",
       Colors = new List<string> { "#008FFB" },
       Labels = new List<string> { "Direct", "Affilliate", "E-mail", "Other" },
       Series = new List<int> { 12, 45, 67, 23 }
   })
    </div>



    @await Component.InvokeAsync(typeof(ChartViewComponent), new DefaultChartViewModel()
{
    ChartId = "chart-" + EcStringHelper.RandomString(12),
    ChartType = "line",
    Colors = new List<string> { "#008FFB" },
    Labels = new List<string> { "Jan", "Feb", "Mar" },
    Series = new List<ChartSeries> {
    new ChartSeries(){
    Name = "Test1",
    Data = new List<int> {12, 56, 73}
    }
    }
})


    <div class="col-12">
        <div class="row row-cards">

            <div class="col-sm-6 col-lg-3">
                <sub-card title="Sales" value="132" description="12 waiting payments" icon="ti ti-currency-dollar" background-color="primary"></sub-card>
            </div>

            <div class="col-sm-6 col-lg-3">
                <sub-card title="Order Shares" value="245" description="50 new orders" icon="ti ti-chart-pie" background-color="success"></sub-card>
            </div>

            <div class="col-sm-6 col-lg-3">
                <sub-card title="Sales" value="132" description="12 waiting payments" icon="ti ti-currency-dollar" background-color="primary"></sub-card>
            </div>

            <div class="col-sm-6 col-lg-3">
                <sub-card title="Order Shares" value="245" description="50 new orders" icon="ti ti-chart-pie" background-color="success"></sub-card>
            </div>


        </div>
    </div>

    </div>



